body {
  background-color: #eceeec;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-summaries {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.forecast-summery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  gap: 8px;
}

.forecast-summery__icon {
  background-color: gray;
  border-radius: 50%;
}

.forecast-summery__date {
  /* text-align: center; */
  font-weight: bold;
}

.forecast-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 0 16px; */
  gap: 8px;
  padding-top: 16px;
}

.forecast-details__temperature {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.forecast-details__humidity {
  display: flex;
}

.forecast-details__wind {
  display: flex;
}

.forecast-details__date,
.forecast-details label {
  font-weight: bold;
}
